<div class="">
    <h3>Secret key</h3>
    <p>
        If you want to add an extra layer of protection, copy the secret key from the monitor settings in Semonto.<br>
        This will limit exposure of your health endpoint. Read more about in 
        <a 
            target="_blank"
            rel="noopener noreferrer"
            href="https://semonto.com/how-to/semonto-health-framework"
        >our docs</a>.
    </p>
    <input 
        type="text" 
        name="secretKey" 
        value="{{secretKey}}" 
        class="semonto-health-monitor__test-input"
    >
                
</div>
