<div class="semonto-website-monitor__settings">
    <h2>Configure health tests</h2>

    <form method="post" accept-charset="UTF-8" class="semonto-website-monitor__settings-form">

        {{ csrfInput() }}

        <input type="hidden" name="action" value="semonto-website-monitor/plugin/save-server-settings">

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-load-tests.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-memory-usage.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-disk-space.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-disk-space-inode.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-db-connection.twig' %}

        <hr>

        {% for testKey, test in tests %}
            {% if test.test == 'CraftCMSMaxDBConnection' %}
                {# This test can be optional. #}
                {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-max-db-connections' %}
            {% endif %}
        {% endfor %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-craftcms-updates.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-secret-key.twig' %}

        <hr>

        {% include 'semonto-website-monitor/partials/semonto-website-monitor__settings-caching.twig' %}

        <hr>        

        <div class="semonto-website-monitor__settings-form-submit-wrapper">
            <input 
                type="submit" 
                value="Save" 
                class="btn submit semonto-website-monitor__settings-form-submit-button"
            >
        </div>

    </form>

    <form 
        method="post" 
        accept-charset="UTF-8" 
        class="semonto-website-monitor__reset-form" 
        onsubmit="return confirmReset()"
    >
        {{ csrfInput() }}
        <input 
            type="hidden" 
            name="action" 
            value="semonto-website-monitor/plugin/reset-to-defaults"
        >
        <button 
            type="submit" 
            class="semonto-website-monitor__reset-form-button btn"
        >Reset to default</button>
    </form>

</div>
